@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap");

$base-color: #073b4c;
$middle-color: #118ab2;
$accent-color: #06d6a0;
$accent-color-dim: #06d6a0c2;
$accent-color-transparent: #06d69e85;
$strike-color: #ffd166;

body {
	background-color: $base-color;
}

ul {
	margin: 0;
	padding: 0;
}

.todo-list {
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	font-family: "Overpass", sans-serif;
	font-size: 2vw;
	background-color: $middle-color;
	color: $base-color;
	border-radius: 10px;
	margin: auto;
	margin-top: 20vh;
	margin-bottom: 20vh;
	width: 50vw;
	padding-top: 1vw;
	padding-bottom: 4.5vw;
	box-shadow: 0 1.5vw 2vw rgba(0, 0, 0, 0.6);
	text-align: center;
}

.todo-item {
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	list-style-type: none;
	margin-top: 0.5vh;
	margin-left: 0;
	height: 100%;
	border-radius: 20px;
}

.todo-item:hover {
	background: $accent-color-dim;
	margin: 10px;
	padding: auto;
	border-radius: 10px;
	padding-right: 2vw;
	padding-left: 2vw;
}

.checkboxitem {
	display: none;
}

.add-todo {
	text-align: center;
}

.todo-form {
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.add-form {
	margin: 0 auto;
	align: center;
}

.todolist-container {
}

input[type="text"] {
	font-family: "Overpass", sans-serif;
	font-size: 1.5vw;
	color: $accent-color-dim;
	background-color: $base-color;
	border: none;
	outline: none;
	border-radius: 20px;
	padding: 0.8vw;
	margin-bottom: 1vw;
	margin-top: 0.8vw;
}

input[type="text"]::placeholder {
	color: $accent-color-transparent;
	font-family: "Overpass", sans-serif;
	font-style: italic;
	text-align: center;
}

button {
	font-family: "Overpass", sans-serif;
	font-size: 1.5vw;
	color: $base-color;
	background-color: $accent-color;
	border: none;
	padding: 1vw;
	outline: none;
	box-shadow: 0 0.2vw 1vw rgba(0, 0, 0, 0.6);
	border-radius: 50px;
	margin: 0 auto;
	display: block;
	width: 1ew;
	height: 1ew;
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

button:hover {
	background-color: $middle-color;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
	color: $accent-color;
}

button:active {
	transition: all 0s cubic-bezier(0.55, 0, 0.1, 1);
	background-color: $base-color;
}

.reset-button {
	font-size: 1.2vw;
	margin-top: 1%;
	margin-left: 83%;
}

/* Strikethrough */

.strikethrough {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.strikethrough:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 0.2vw;
	margin-top: -0.7em;
	background: $base-color;
	transform-origin: center left;
	animation: strikethrough 1s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1;
	transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* Little hover effect */

.strikethrough:hover:after {
	transform: scaleX(0);
	transform-origin: center right;
}

/* Keyframes for initial animation 

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
*/
